.place-card__image {
  width: 100%;
  min-height: 272px;
  background-image: url(../../../images/articles/lenta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@media screen and (max-width: 1225px) {
  .place-card__image {
    min-height: 200px;
  }
}

@media screen and (max-width: 1024px) {
  .place-card__image {
    min-height: 180px;
  }
}

@media screen and (max-width: 820px) {
  .place-card__image {
    min-height: 150px;
  }
}

@media screen and (max-width: 480px) {
  .place-card__image {
    min-height: 196px;
  }
}