@import  url(./_on/places-list__error_on.css);

.places-list__error {
  max-height: 214px;
  width: 25%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}