.places-list__subtitle {
  width: 180%;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .places-list__subtitle {
    width: 160%;
  }
}

@media screen and (max-width: 490px) {
  .places-list__subtitle {
    width: 110%;
  }
}

@media screen and (max-width: 475px) {
  .places-list__subtitle {
    width: 100%;
  }
}