@import url('./_search/error_search.css');

.error {
  display: flex;
  position: absolute;
}

.error:nth-last-of-type(1) {
  bottom: 100px;
  align-self: center;
}

.error:nth-last-of-type(2) {
  bottom: 115px;
}

.error:nth-last-of-type(3) {
  bottom: 200px;
}

.error:nth-last-of-type(4) {
  bottom: 285px;
}