@import url(./_on/places-list__response_on.css);

.places-list__response {
  min-height: 814px;
  width: 85%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}