.profile.profile_account {
  padding: 40px 0 0;
  margin-bottom: 56px;
}

@media screen and (max-width: 1024px) {
  .profile.profile_account {
    padding: 30px 0 0;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 820px) {
  .profile.profile_account {
    padding: 24px 0 0;
    margin-bottom: 32px;
  }
}