.menu__button {
  color: unset;
  text-decoration: none;
}

.menu__item.menu__item_underlined .menu__button::after {
  position: absolute;
  bottom: -29px;
  left: 0;
  display: block;
  width: 100%;
  content: '';
  border-top: 3px solid;
}